<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> <!-- bootstrap.js 가 jquery에 의존적이기 떄문에 위치가 뒤로 옴. -->
<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>